body {

    font-family: Arial, Helvetica, sans-serif;

    width: 700px;

    margin: 40px auto;

    background: white;

    color: black;

}

h1 {

    margin-bottom: 30px;

}

.controls{

    display:flex;

    gap:10px;

    margin-bottom:30px;

    margin-top:16px;

}

.program {

    border: 1px solid #d8d8d8;

    padding: 16px;

    margin-bottom: 10px;

    cursor: pointer;

    background: white;

}

.program:hover {

    background: #f5f5f5;

}

.info h2 {

    margin: 0;

    font-size: 22px;

    font-weight: bold;

}

.info p {

    margin-top: 8px;

    margin-bottom: 0;

    font-size: 15px;

    color: #555;

}

audio {

    width: 100%;

    margin-top: 10px;

}


@media (max-width: 800px) {

    body {

    width: auto;

    margin: 0;

    padding: 18px;

    box-sizing: border-box;

}

    h1 {

        font-size: 34px;

    }

    .program {

    padding: 24px;

    margin-bottom: 16px;

}

    .info h2 {

        font-size: 28px;

    }

    .info p {

        font-size: 19px;

    }

}
